/**
 * Fonts
 */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,400italic,300italic);
@import url(https://fonts.googleapis.com/css?family=Righteous);


/**
 * Layout
 */

html, body {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-size: 12px;
    background: #1f2224;
    color: #fff;
}

a, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.clearfix {
    clear: both;
}


/**
 * Form
 */

form label {
    display: block;
    margin-left: 16px;
    margin-bottom: 0;
    color: #fff;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
form input,
form select,
form button {
    display: block;
    border: 0;
    width: 100%;
    padding: 10px 15px;
    outline: none;
    letter-spacing: 1px;
}
form select,
form input {
    color: #000;
    background: #fff;
    margin-bottom: 10px;
}
form select option {
    padding: 0;
}
form input[type=text] {
    text-transform: capitalize;
}
form button {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
}
form button[type=submit] {
    background: #f77049;
    color: #fff;
}
form button[type=submit] .fa-refresh {
    animation: rotate 1s infinite;
}
form button[type=reset] {
    background: none;
    border: none;
    color: #666;
}


/**
 * Animations
 */

@keyframes rotate {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}