
/**
 * Layout
 */

html {
    height: 100%;
}
body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 12px;
    background: #1F2224;
    color: #FFF;
}
body.fixed {
    overflow: hidden;
}

a, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.clearfix {
    clear: both;
}



/**
 * Page loader spinner
 */

#page-loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: -60px;
    z-index: 8000;
    background: rgba(0, 0, 0, 0.9);
    text-align: center;
    display: none;
}
#page-loader.active {
    display: block;
}
#page-loader .spinner {
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: calc(50vh - 50px);
    border-radius: 100%;
    position: relative;
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-right-color: #fff;
    animation: rotate 1s infinite ease;
}


/**
 * Form
 */

form input,
form select,
form textarea,
form button {
    display: block;
    border: 0;
    width: 100%;
    padding: 12px 16px;
    outline: none;
    font-size: 13px;
}
form label,
form select,
form textarea,
form input {
    color: #000;
    background: #fff;
    margin-bottom: 10px;
    border-radius: 3px;
}
form select option {
    padding: 0;
}
form label {
    display: block;
}
form label .fa {
    float: left;
    display: inline-block;
    font-size: 18px;
    color: #666;
    width: 30px;
    text-align: center;
    padding: 12px;
    padding-right: 0;
}
form label select,
form label input {
    display: inline-block;
    margin-bottom: 0;
    width: calc(100% - 30px);
}
form button {
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
}
form button[type=submit] {
    background: #E84855;
    color: #fff;
    font-weight: bold;
}
form button[type=submit] .fa-refresh {
    animation: rotate 1s infinite;
}
form button[type=reset] {
    background: none;
    border: none;
    color: #666;
    width: auto;
}


/**
 * Animations
 */

@keyframes rotate {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}