/**
 * Header
 */

header {
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: #1f2224;
}

header nav {
    padding: 16px 20px;
}
header nav a {
    font-size: 13px;
    color: #aaa;
    display: inline-block;
    padding: 0 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 26px;
}
header nav a#logo {
    font-family: Righteous, Helvetica, Arial, sans-serif;
    font-size: 13px;
}
header nav a#logo,
header nav a.album {
    color: #fff;
}
header nav span {
    font-size: 17px;
    color: #777;
    padding: 0 1px;
}
header nav .xs-hide {
    display: none;
}

header .switch {
    float: right;
    cursor: pointer;
    font-size: 18px;
    padding: 16px 20px;
    text-align: center;
    height: 60px;
    width: 60px;
}
header .switch .fa {
    transition: transform 0.2s;
}
header .switch.open .fa {
    transform: rotate(-90deg);
}

menu {
    position: fixed;
    top: 15px;
    left: 0;
    right: 0;
    height: 45px;
    box-shadow: none;
    background: #E14938;
    margin: 0;
    padding: 0;
    z-index: 40;
    transition: top 0.2s, box-shadow 0.2s;
}
menu.open {
    top: 60px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
menu ul li {
    display: inline-block;
    float: left;
    width: 100%;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}
menu ul li.col-2 {
    width: 50%;
}
menu ul li.col-3 {
    width: 33.3333%;
}
menu ul li.col-4 {
    width: 25%;
}
menu ul li a {
    display: block;
    color: #fff;
    font-size: 12px;
    padding: 15px 2px 13px 2px;
    text-align: center;
    border-bottom: 2px solid transparent;
    text-transform: uppercase;
}
menu ul li a.open {
    border-color: #fff;
}


/**
 * Modals
 */

#modals {
    position: fixed;
    top: 105px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 500;
    display: none;
    background: rgba(0, 0, 0, 0.8);
    overflow: auto;
}
#modals .modal {
    margin: auto;
    width: 100%;
    max-width: 300px;
    min-width: 300px;
    padding: 20px;
    display: none;
}
#modals.open,
#modals .modal.open {
    display: block;
}
#modals .modal h4 {
    margin: 0;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
#modals .modal button[type=submit] {
    margin-top: 20px;
}
#modals .modal button[type=reset] {
    position: absolute;
    top: 8px;
    right: 10px;
}
#modals .modal button[type=reset] .fa {
    font-size: 20px;
}

/* Feedback modal */
.modal#feedback {
    max-width: 600px;
}

/* Upload modal */
.modal#upload {
    max-width: none;
}
.modal#upload form.dropzone {
    border: 2px dashed #fff;
    width: 100%;
    min-height: calc(100vh - 200px);
    padding: 8px;
    text-align: center;
    background: none;
    position: relative;
}
.modal#upload form.dropzone .dz-message {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -20px;
    font-size: 14px;
}
.modal#upload form.dropzone .dz-message span {
    display: block;
    font-size: 40px;
}
.modal#upload form.dropzone .dz-preview {
    margin: 14px;
    background: none;
}
.modal#upload form.dropzone .dz-preview .dz-image {
    height: 100px;
    width: 100px;
    border-radius: 0;
}
.modal#upload form.dropzone .dz-preview .dz-image img {
    filter: grayscale(1);
    -moz-filter: grayscale(1);
    -webkit-filter: grayscale(1);
    opacity: 0.65;
}
.modal#upload form.dropzone .dz-preview.dz-complete .dz-image img {
    filter: none;
    -moz-filter: none;
    -webkit-filter: none;
    opacity: 1;
}
.modal#upload form.dropzone .dz-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    border-radius: 0;
    margin: 0;
}
.modal#upload form.dropzone .dz-progress .dz-upload {
    background: rgba(247, 112, 73, 0.5);
}
.modal#upload button[type=reset] {
    top: -55px;
    right: -20px;
}


/**
 * Main
 */

main {
    margin-top: 60px;
    transition: margin-top 0.2s;
}
main .empty {
    font-size: 18px;
    text-align: center;
    margin-top: calc(50vh - 10px);
}


/**
 * Grid
 */

ul.grid {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    clear: both;
}
ul.grid li {
    float: left;
}
ul.grid li .item {
    position: relative;
    overflow: hidden;
    background: #333739;
}
ul.grid li .item .image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center center;
    background-size: cover;
    opacity: 0.9;
}
ul.grid li .item:hover .image {
    opacity: 1;
}
ul.grid li .item .title,
ul.grid li .item .info {
    position: absolute;
    bottom: 15px;
    left: 20px;
    right: 20px;
    letter-spacing: 1px;
    text-shadow: 0 0 6px rgba(0, 0, 0, 1);
    font-size: 10px;
    font-style: normal;
}
ul.grid li .item .title {
    bottom: 22px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.grid.albums li {
    width: 100%;
}
.grid.albums li .item {
    height: calc(33.333vh - 20px);
    min-height: 130px;
}

.grid.pictures li {
    width: 50%;
}
.grid.pictures li .item {
    padding-top: 100%;
}
.grid.pictures li.author .item {
    background-color: #d2d2d2;
}
.grid.pictures li.author .item .title {
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    margin: 0;
    text-align: center;
    padding-top: calc(50% - 30px);
    text-shadow: none;
    color: #000;
    border: 2px solid #1f2224;
}


/**
 * Responsive
 */

@media screen and (min-width: 480px) {
    header nav span {
        padding: 0 5px;
    }
    ul.grid::before {
        display: block;
    }
    .grid.pictures li {
        width: 33.33333%;
    }
}

@media screen and (min-width: 768px) {
    header nav .xs-hide {
        display: inline-block;
    }
    menu {
        top: -60px;
        left: auto;
        right: 60px;
        height: 60px;
        background: none;
        z-index: 80;
        transition: top 0.2s;
    }
    menu.open {
        top: 0;
    }
    menu ul li {
        width: auto !important;
        border: none;
    }
    menu ul li a {
        display: inline-block;
        padding: 21px 12px;
    }
    #modals {
        top: 60px;
    }
    #modals .modal {
        margin-top: 100px;
    }
    #modals .modal#upload form.dropzone {
        min-height: calc(100vh - 250px);
    }
    .grid.albums li {
        width: 50%;
    }
    .grid.pictures li {
        width: 25%;
    }
}

@media screen and (min-width: 992px) {
    .grid.albums li {
        width: 33.333333%;
    }
    .grid.pictures li {
        width: 16.6666667%;
    }
}

@media screen and (min-width: 1200px) {
    .grid.pictures li {
        width: 12.5%;
    }
}