/**
 * Header
 */

header {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: rgba(31, 34, 36, 0.98);
    padding: 16px 20px;
}

header nav {
    margin-left: 32px;
}
header nav a {
    font-size: 14px;
    color: #aaa;
    display: inline-block;
    padding: 0 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 26px;
}
header nav a#logo {
    font-family: Righteous, Helvetica, Arial, sans-serif;
    font-size: 13px;
}
header nav a#logo,
header nav a.album {
    color: #fff;
}
header nav span {
    font-size: 17px;
    color: #777;
    padding: 0 1px;
}
header nav .xs-hide {
    display: none;
}


/**
 * Menu
 */

menu {
    position: fixed;
    top: 60px;
    left: -54px;
    bottom: 0;
    margin: 0;
    padding: 0;
    z-index: 1000;
    transition: left 0.2s, opacity 0.2s;
}
menu.open {
    left: 0;
    opacity: 1;
}
menu .switch {
    position: fixed;
    top: 22px;
    left: 20px;
    transition: transform 0.2s;
    cursor: pointer;
    font-size: 14px;
}
menu.open .switch {
    transform: rotate(-90deg);
}
menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
menu ul li a {
    display: block;
    height: 54px;
    width: 54px;
    padding: 18px 20px;
    cursor: pointer;
}
menu ul li a:hover {
    background: #2f3234;
}
menu .fa {
    margin-right: 8px;
}


/**
 * Modals
 */

header.blur,
menu.blur,
main.blur {
    filter: blur(6px);
    -moz-filter: blur(6px);
    -webkit-filter: blur(6px);
}

#modals {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5000;
    display: none;
    background: rgba(0, 0, 0, 0.8);
}
#modals .modal {
    margin: auto;
    width: 280px;
    padding: 20px;
    display: none;
}
#modals.open,
#modals .modal.open {
    display: block;
}
#modals .modal h4 {
    margin: 0;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
}
#modals .modal button[type=submit] {
    margin-top: 20px;
}
#modals .modal button[type=reset] {
    margin-top: 5px;
}


/**
 * Main
 */

main {
    padding-top: 60px;
    transition: margin-left 0.2s;
}
menu.open + main {
    margin-left: 54px;
}


/**
 * Grid
 */

ul.grid {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.grid li {
    float: left;
}
ul.grid li .item {
    position: relative;
    overflow: hidden;
}
ul.grid li .item .image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center center;
    background-size: cover;
}
ul.grid li .item .title,
ul.grid li .item .info {
    position: absolute;
    bottom: 15px;
    left: 20px;
    letter-spacing: 1px;
    text-shadow: 0 0 6px rgba(0, 0, 0, 1);
    font-size: 10px;
    font-style: normal;
}
ul.grid li .item .title {
    bottom: 22px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.grid.albums li {
    width: 100%;
}
.grid.albums li .item {
    height: calc(33.333vh - 20px);
    min-height: 130px;
}
.grid.albums li .item .image {
    opacity: 0.8;
    transition: transform 0.2s;
}
.grid.albums li .item:hover .image {
    opacity: 1;
    transform: scale(1.1);
}

.grid.pictures li {
    width: 50%;
}
.grid.pictures li .item {
    padding-top: 100%;
    position: relative;
}
.grid.pictures li .item .image {
    opacity: 0.8;
}
.grid.pictures li .item:hover .image {
    opacity: 1;
}
.grid.pictures li .item .info {
    bottom: 5px;
    left: 8px;
    display: none;
}
.grid.pictures li .item:hover .info {
    display: block;
}


/**
 * Responsive
 */

@media screen and (min-width: 480px) {
    header nav .xs-hide {
        display: inline-block;
    }
    header nav span {
        padding: 0 5px;
    }
    .grid.pictures li {
        width: 33.33333%;
    }
}

@media screen and (min-width: 768px) {
    #modals .modal {
        margin-top: 100px;
    }
    .grid.albums li {
        width: 50%;
    }
    .grid.pictures li {
        width: 25%;
    }
}

@media screen and (min-width: 992px) {
    .grid.albums li {
        width: 33.333333%;
    }
    .grid.pictures li {
        width: 16.6666667%;
    }
}

@media screen and (min-width: 1200px) {
    .grid.pictures li {
        width: 12.5%;
    }
}