/**
 * Header
 */

header {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: #1f2224;
    padding: 16px 20px;
}

header nav a {
    font-size: 14px;
    color: #aaa;
    display: inline-block;
    padding: 0 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
header nav a#logo {
    font-family: Righteous, Helvetica, Arial, sans-serif;
    font-size: 13px;
}
header nav a#logo,
header nav a.album {
    color: #fff;
}
header nav span {
    font-size: 17px;
    color: #777;
    padding: 0 5px;
}

header menu {
    position: fixed;
    top: 0;
    right: -280px;
    bottom: 0;
    width: 280px;
    background: #2f3234;
    transition: right 0.2s;
    margin: 0;
    padding: 0;
}
header menu.active {
    right: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
header menu .switch {
    position: fixed;
    top: 20px;
    right: 20px;
    transition: transform 0.2s;
    cursor: pointer;
    font-size: 14px;
}
header menu.active .switch {
    transform: rotate(90deg);
}
header menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
header menu ul li .title,
header menu ul li .form .header,
header menu ul li .form form,
header menu ul li > a {
    display: block;
    padding: 10px 20px;
}
header menu ul li .title,
header menu ul li .form,
header menu ul li > a {
    border-bottom: 1px solid #3c3f41;
}
header menu ul li .title {
    padding: 20px 20px;
    font-size: 14px;
    letter-spacing: 2px;
}
header menu ul li .form:hover,
header menu ul li .form.open,
header menu ul li > a:hover {
    background: #3c3f41;
}
header menu ul li .form .header,
header menu ul li > a {
    cursor: pointer;
}
header menu ul li .form form {
    max-height: 0;
    overflow-y: hidden;
    padding: 0;
}
header menu ul li .form.open form {
    max-height: none;
    overflow-y: visible;
    padding: 10px 20px;
}
header menu ul li .form form button[type=submit] {
    margin-top: 15px;
}
header menu .glyphicon {
    margin-right: 8px;
}


/**
 * Main
 */

main {
    padding-top: 60px;
}


/**
 * Grid
 */

ul.grid {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.grid li {
    padding: 0;
}

.grid.albums .album {
    padding-top: 50%;
    position: relative;
    overflow: hidden;
}
.grid.albums .album .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center center;
    background-size: cover;
    opacity: 0.6;
    transition: transform 0.2s;
}
.grid.albums .album:hover .bg {
    opacity: 1;
    transform: scale(1.1);
}
.grid.albums .album .title,
.grid.albums .album .date {
    position: absolute;
    bottom: 15px;
    left: 20px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 12px;
}
.grid.albums .album .title {
    bottom: 25px;
    font-size: 14px;
    letter-spacing: 1px;
}

.grid.pictures h1 {
    padding: 15px;
    padding-bottom: 5px;
    font-size: 14px;
    color: #aaa;
}
.grid.pictures .picture {
    padding-top: 100%;
    position: relative;
}
.grid.pictures .picture .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center center;
    background-size: cover;
    opacity: 0.8;
}
.grid.pictures .picture:hover .bg {
    opacity: 1;
}