/**
 * Login
 */

body.login {
    background-image: url(../img/login-bg.jpg);
    background-size: cover;
}

header {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-weight: 700;
    padding-top: 15px;
}

#login {
    position: relative;
    margin: auto;
    margin-top: calc(50vh - 100px);
    width: 250px;
}

.error {
    text-align: center;
    margin-top: calc(50vh - 100px);
}