Options -Indexes

RewriteEngine on

# hotlink protection
#RewriteCond %{HTTP_REFERER} !^$
#RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?yourdomain\.tld [NC]
#RewriteRule \.(jpg|jpeg)$ - [NC,F,L]

# rewrite request to front controller
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]